{% extends "layouts/base.html" %}
{% block content %}

<!--ADD MODEL AND LOT FORM FIELDS TO REDUCE MANUAL DATA ENTRY TIDEOUSNES-->

<div class="container">
    <form  enctype="multipart/form-data" method="POST" action="">
    {{form.media}}
    {{form.errors}}
    {% csrf_token %}
    <table class="table table-striped table-bordered table-hover table-minimal" style="max-width: 800px !important;">
        <thead>
            <tr>
                <th colspan="2" style="font-size: 0.92rem !important; font-weight: 200 !important; font-family: Gill Sans;">Genealogy Upload Form</th>
            </tr>
            <tr style="background-color: #3d3737 !important; color: white;">
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
          
            <tr>
                <td style="width: 700px !important;">{{form.file}}</td>
                <td class="text-left">
                    <input  class="btn btn-success btn-form"  type="submit" name="Submit" value="Upload" style="border-radius: 2.5px !important; height: 22px !important; margin-right: 2px; font-size: 0.9rem !important;" />
                </td>
            </tr>
        </tbody>
    </table>
    </form>

</div>

{% endblock %}